body {
    background-color: #D6E6FF;
    color: #545A63;
    font-family: 'Roboto', sans-serif;
}

.card {
    margin: 50px 0 50px 0;
}

.card:hover{
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
}


.card-img-top {
    width: 5vw;
    height: 5vw;
    margin: 30px 0 30px 0;
}

.card-text {
    margin: 0 25px 0 25px;
}

.btn {
    margin: 0 0 30px 0;
    padding: 7px 40px 7px 40px;
    border-radius: 25px;
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: #545A63;
}

.btn:hover {
    background-color: #3045E6;
}

.h5 {
    font-weight: bolder;
}

p {
    font-weight: lighter;
    font-size: smaller;
}