.jumbotron {
    border-style: solid ;
    border-width: thin;
    border-color: lightgrey;
    border-radius: 0;
    background-color: white;
    /*border-bottom-style: none;*/

    .button {
        text-align: right;
    }
}

h3 {
    color: #d9534f;
}


h1 {
    color: #5bc0de;    ;
}

.bg-transparent {
    color: black;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}